node_modules
package-lock.json
yarn.lock
.DS_Store

.env

.pnp.cjs
.pnp.loader.mjs

.yarn/
.yarnrc.yml
.yarn/patches
.yarn/releases
.yarn/sdks
.yarn/versions
.yarn/cache
.yarn/install-state.gz
.yarn/install-state.json
.yarn/install-state.json.lock

noti.json
app/config/ustaad.json
*.json
!*.json.template

/dist
dist